* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: black;
  font-family: 'Merriweather', serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container {
  background-color: aliceblue;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  max-width: 90%;
  padding: 16px, 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 16px, 8px;
  margin: auto;
}

.form-inputs {
  display: flex;
  padding: 20px, 20px;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

label {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  font-weight: bold;
}

input[type=text], select {
  height: 1.5rem;
}

button {
  height: 2rem;
  width: 6rem;
  border-radius: 8px;
  color: rgb(72, 61, 139);
  background-color: white;
  border: 2px solid rgb(72, 61, 139);
}

button:hover {
  cursor: pointer;
}

button:disabled {
  color: slategray;
  background-color: white;
  border: 2px solid darkgray;
  cursor: not-allowed;
}

.errors {
  margin: 8px;
  font-size: 1em;
  color: crimson;
}

.errors div {
    display: block;
    margin-top: 4px;
}